<footer class="relative bg-gray-300 pt-8 pb-6">
  <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20"
    style="height: 80px;">
    <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
      version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      <polygon class="text-gray-300 fill-current" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">¡Visita nuestras redes sociales!</h4>
        <div class="my-6">
          {% include social.html %}
        </div>
        <div class="py-4 md:py-1"></div>
        <!--h5 class="text-lg mt-0 mb-2 text-gray-700">
          Find us on any of these platforms, we respond 1-2 business days.
        </h5-->
      </div>


      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 ml-auto">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2 text-left md:text-right">Enlaces</span>
            <ul class="list-unstyled text-left md:text-right">
              <div class="py-2"></div>
              <li>
                <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://shemapress.org/" target="_blank">Librería</a>
              </li>
              <li>
                <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="/">Nosotros</a>
              </li>
              <li>
                <a class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://fdvinstitutobiblico.com/" target="_blank">Instituto Bíblico</a>
              </li>
            </ul>
          </div>
          <!--div class="w-full lg:w-4/12">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2"
              >Other Resources</span
            >
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md"
                  >MIT License</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/terms"
                  >Terms &amp; Conditions</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/privacy"
                  >Privacy Policy</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/contact-us"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div--->
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full px-4 mx-auto text-center">
        <div class="text-sm text-gray-600 font-semibold py-1">
            <span>Defensores de la Fe - 2021</span>
            <div class="py-1"></div>
            <span class="italic">Esta pagina fue creada para la gloria de Cristo por el hermano <a class="underline text-bold hover:text-green-500" href="https://linktr.ee/henrymendez" target="_blank">Henry A. Méndez</a>.</span>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--footer class="bg-grayback">
  <div class="container max-w-4xl mx-auto flex py-8">
    <div class="w-full mx-auto flex flex-wrap">
      <div class="flex w-full md:w-1/4 justify-center">
        <div class="px-8">
          <img src="{{site.baseurl}}/assets/images/logo.png" class="h-44 md:object-contain px-4"/>
        </div>
      </div>

      <div class="flex w-full md:w-1/2 ">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">Acerca De</h3>
          <p class="py-4 text-gray-600 text-sm">
            Defensores de la Fe está dedicado a la proclamación y defensa del verdadero evangelio de salvación y su aplicación a la vida de cada ser humano, basado en el amor de un sólo Dios manifestado en carne en Cristo Jesús y Su pronto regreso a establecer Su reino.
          </p>
        </div>
      </div>

      <div class="flex w-full md:w-1/4">
        <div class="px-8">
          <h3 class="font-bold text-gray-900">Redes Sociales</h3>
          <ul class="list-reset items-center text-sm pt-3">
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://www.youtube.com/c/DefensoresdelaFe">Youtube</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://www.facebook.com/defensoresdelafe">Facebook</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://twitter.com/defensoresweb">Twitter</a>
            </li>
            <li>
              <a class="inline-block text-gray-600 no-underline hover:text-gray-900 hover:text-underline py-1" href="https://www.instagram.com/defendersofthefaith/">Instagram</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container px-4 md:mx-auto flex justify-center text-center">
    <p class="font-medium italic text-gray-800 break-words	">Esta pagina fue creada para la gloria de Cristo por el hermano <a class="underline text-bold hover:text-green-500" href="https://linktr.ee/henrymendez" target="_blank">Henry A. Méndez</a>.</p>
  </div>
  <div class="mx-auto flex justify-center">
    <p class="py-4 text-gray-600 text-sm">Defensores de la Fe - 2021</p>
  </div>
</footer-->