<div class="fixed w-full z-10 top-0">
  <div id="progress" class="h-3 z-20 top-0" style="background:linear-gradient(to right, #33D399 var(--scroll), transparent 0);"></div>
</div>
<nav class="bg-white shadow dark:bg-gray-800 shadow">
  <div class="container px-6 py-4 mx-auto md:flex md:justify-between md:items-center">
      <div class="flex items-center justify-between">
          <div>
              <a class="text-2xl font-bold text-gray-800 dark:text-white lg:text-3xl hover:text-green-500 dark:hover:text-gray-300" href="/">Defensores de la Fe</a>
          </div>
          
          <!-- Mobile menu button -->
          <div class="flex md:hidden">
              <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu" onclick="toggleNavbar('example-collapse-navbar')">
                  <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                      <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                  </svg>
              </button>
          </div>
      </div>

      <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
      <div class="items-center md:flex hidden" id="example-collapse-navbar">
        <div class="py-2 md:py-0"></div>
          <div class="flex flex-col md:flex-row md:mx-6">
              <a class="my-1 text-sm font-medium text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0" href="/">Blog</a>
              <div class="py-2 md:py-0"></div>
              <a class="my-1 text-sm font-medium text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0" href="/recursos">
                <span>Recursos</span>
                <span class="px-3 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-blue-50 rounded-full">Nuevo</span>
              </a>
              <div class="py-2 md:py-0"></div>
              <a class="my-1 text-sm font-medium text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0" href="/contacto">Contacto</a>
              <div class="py-2 md:py-0"></div>
              <a class="my-1 text-sm font-medium text-gray-700 dark:text-gray-200 hover:text-green-500 dark:hover:text-green-400 md:mx-4 md:my-0" href="https://www.youtube.com/c/DefensoresdelaFe/videos" target="_blank">Videos</a>
          </div>

          <div class="py-2 md:py-0"></div>

          <div class="flex justify-center md:block rounded shadow px-2  hover:bg-green-400">
              <a class="relative text-gray-700 dark:text-gray-200  hover:text-white dark:hover:text-gray-300" href="https://shemapress.org/" target="_blank" alt="Librería">
                Librería  <i class="fas fa-store"></i>
                  <!--span class="absolute top-0 left-0 p-1 text-xs text-white bg-green-500 rounded-full"></span--->
              </a>
          </div>
      </div>
  </div>
</nav>

<script>
  function toggleNavbar(collapseID) {
    document.getElementById(collapseID).classList.toggle("hidden");
    document.getElementById(collapseID).classList.toggle("block");
  }

    /* Progress bar */
  //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
  var h = document.documentElement,
    b = document.body,
    st = 'scrollTop',
    sh = 'scrollHeight',
    progress = document.querySelector('#progress'),
    scroll;
  var scrollpos = window.scrollY;
  var header = document.getElementById("header");
  var navcontent = document.getElementById("nav-content");

  document.addEventListener('scroll', function() {

    /*Refresh scroll % width*/
    scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
    progress.style.setProperty('--scroll', scroll + '%');

    /*Apply classes for slide in bar*/
    scrollpos = window.scrollY;
  });
</script>
