---
layout: default
---

<!--Container-->
<div class="">
  <div class="shadow-xl rounded-lg">
    <div style="background-image: url('https://images.unsplash.com/photo-1524492514790-8310bf594ea4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80')" class="h-44 bg-gray-200 bg-cover bg-center flex items-center justify-center bg-opacity-75"> 
      <p class="text-gray-800 bg-white border px-1 font-bold text-4xl">{{ page.title }}</p>
    </div>
  </div>
  <div class="container mx-auto w-full text-gray-800 leading-normal bg-white rounded-b">
    <!--Post Content-->
    <article class="max-w-none prose prose-lg xl:prose-xl py-4">
      {{ content }}
    </article>
  </div>
</div>