---
layout: default
---

<div class="p-4">
  <div class="py-4"></div>  
  <div class="max-w-prose mx-auto">
    <div class="w-full text-gray-800 leading-normal">
      <article class="prose prose-md">
        <h3>Resumen</h3>
        <span>{{ content }}</span>
      </article>
      <!--blockquote class="border-l-4 border-green-500 italic my-8 pl-8 md:pl-12">Example of blockquote - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at ipsum eu nunc commodo posuere et sit amet ligula.</blockquote--->
    </div>
  </div>
  <div class="py-4"></div> 
  <iframe class="h-64	 md:h-screen"  width="100%"  id="iframevideo" name="iframevideoa" src="https://www.youtube.com/embed/{{ page.video_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
